<!doctype html>
<html>
<head>
  <title>AssignCertificate</title>
  <link rel="stylesheet" href="css\style.css">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</head>
<body>
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="#"></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" href="index.html">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="data_entry.html">Enter Data</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="details.html">Details</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="reports.html">Reports</a>
        </li>

        <li class="nav-item active">
          <a class="nav-link" href="AssignCertificate.html">Assign Certificate</a>
        </li>
      </ul>
    </div>
  </nav>

  <div class="container">
    <div class="row">
      <div id="membersCertifiedApp" class="col-sm-12 col-md-12 col-lg-12" >
          <h2>Assign certificate to member</h2>
          <p> Select member ID </p>
          <select v-model="newMemberCertified.memberId" >
            <option v-for="member in members" v-bind:value="member.memberId">{{ member.memberId }} - {{ member.firstName }} {{ member.lastName }}</option>
          </select>
          <br>
          <p> Select certification name </p>
          <select v-model="newMemberCertified.certificationId" >
            <option  v-for="certification in certifications" v-bind:value="certification.certificationId" >{{ certification.certificationId }} - {{ certification.certificationName }}</option>
          </select>
          <br>
          <p>Select certification start date</p>
          <input v-model="newMemberCertified.certifiedDate" type="date">
          <button type="submit" @click="assignCertificate()" class="btn btn-primary">Certify Member</button>
      </div>
      <div class="footer">
        Oconee County Fire Rescue|Oconee County, GA
      </div>
      <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
      <script src="js/membersCertified.app.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/moment.min.js"></script>
    </div>
  </div>
</body>
</html>
