<!doctype html>
<html>
<head>
  <title>Details</title>
  <link rel="stylesheet" href="css\style.css">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</head>
<body>
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="#"></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" href="index.html">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="data_entry.html">Enter Data</a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" href="details.html">Details</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="reports.html">Reports</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="AssignCertificate.html">Assign Certificate</a>
        </li>
      </ul>
    </div>
  </nav>

  <div class="container">
      <div id = "membersCertifiedApp">
        <h2>Active Members: Current and Expired Certifications</h2>
        <select v-model="filter.memberId">
          <option value="">(all)</option>
          <option v-for="m in members" v-bind:value="m.memberId">{{ m.firstName }} {{ m.lastName }}</option>
        </select>
        <table id="taskTable" class="table table-sm table-hover table-bordered ">
        <thead class="thead-dark">
          <tr>
            <th scope="col">First Name</th>
            <th scope="col">Last Name</th>
            <th scope="col">Radio numbers</th>
            <th scope="col">Station number</th>
            <th scope="col">Active (yes/no?)</th>
            <th scope="col">Certifications</th>
            <th scope="col">Expiration Date</th>
          </tr>
        </thead>
        <tbody>
          <tr v-for="mc in membersCertified" v-if="filter.memberId=='' || filter.memberId==mc.memberId">
            <td>{{mc.firstName}}</td>
            <td>{{mc.lastName}}</td>
            <td>{{mc.radioNumber}}</td>
            <td>{{mc.stationNumber}}</td>
            <td>{{mc.isActive}}</td>
            <td>{{mc.certificationName}}</td>
            <td>{{mc.expirationDate}}</td>
          </tr>
        </tbody>
      </table>
    </div>
</div>

<div class= "container">
    <div id = "certificationsMemberApp" class="col-sm-12 col-md-12 col-lg-12">
      <h2>All Members: Certifications and Certification Expiration Period</h2>
      <select v-model="filter.certificationId">
        <option value="">(all)</option>
        <option v-for="c in certifications" v-bind:value="c.certificationId">{{ c.certificationName }}</option>
      </select>
      <table id="taskTable" class="table table-sm table-hover table-bordered ">
      <thead class="thead-dark">
        <tr>
          <th scope="col">Last Name</th>
          <th scope="col">First Name</th>
          <th scope="col">Certification</th>
          <th scope="col">Expiration Period</th>
          <th scope="col">Is Active</th>
        </tr>
      </thead>
      <tbody>
        <tr v-for="m in certificationsMember" v-if="filter.certificationId=='' || filter.certificationId==m.certificationId">
          <td>{{m.lastName}}</td>
          <td>{{m.firstName}}</td>
          <td>{{m.certificationName}}</td>
          <td>{{m.experationPeriod}}</td>
          <td>{{m.isActive}}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>




<div class="footer">
  Oconee County Fire Rescue|Oconee County, GA
</div>
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<script src="js/membersCertified.app.js"></script>
<script src="js/certificationsMember.app.js"></script>
</body>
</html>
